@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFarLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0.5;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFarRight {
  0% {
    opacity: 0.5;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInFarTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}
.animateFromLeft {
  animation: moveInFarLeft 0.5s ease-out;
  opacity: 1;
}

.animateFromRight {
  animation: moveInFarRight 0.5s ease-out;
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flipRound {
  animation: flip 0.8s ease-out;
  opacity: 1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 22em) {
  html {
    font-size: 45%;
  }
}

::selection {
  color: #fff;
  background-color: #ff8580;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #E9E4DE;
  background-color: #333;
}

.heading-primary {
  color: #E9E4DE;
  backface-visibility: hidden;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  animation: moveInLeft 0.8s ease-out;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4), 0px 7px 12px rgba(255, 133, 128, 0.1), 0px 13px 19px rgba(255, 133, 128, 0.1);
}
@media only screen and (max-width: 25em) {
  .heading-primary {
    font-size: 4rem;
  }
}

.heading-secondary {
  backface-visibility: hidden;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.heading-secondary--dark {
  color: #616161;
}
.heading-secondary--light {
  color: #E9E4DE;
}

.heading-tertiary {
  color: #616161;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.heading-tertiary--dark {
  color: #616161;
}
.heading-tertiary--light {
  color: #E9E4DE;
}

.heading-quaternary {
  color: #616161;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}
.heading-quaternary--dark {
  color: #616161;
}
.heading-quaternary--light {
  color: #E9E4DE;
}

.heading-quinary {
  color: #616161;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}
.heading-quinary--dark {
  color: #616161;
}
.heading-quinary--light {
  color: #E9E4DE;
}

.heading-hr {
  width: 70px;
  height: 4px;
  background-color: #ff8580;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.heading-hr--small {
  width: 4rem;
  height: 1px;
  background-color: #ff8580;
  margin: 0 auto;
}

#jack {
  font-weight: 500;
  color: #ff8580;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4), 0px 7px 12px rgba(255, 133, 128, 0.1), 0px 13px 19px rgba(255, 133, 128, 0.1);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 50em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 50em) {
  .u-margin-top-medium {
    margin-top: 3rem !important;
  }
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-left-small {
  margin-left: 1.5rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.u-margin-left-large {
  margin-left: 8rem !important;
}

.u-margin-left-huge {
  margin-left: 10rem !important;
}

.u-margin-right-small {
  margin-right: 1.5rem !important;
}

.u-margin-right-medium {
  margin-right: 4rem !important;
}
@media only screen and (max-width: 50em) {
  .u-margin-right-medium {
    margin-right: 3rem !important;
  }
}

.u-margin-right-large {
  margin-right: 8rem !important;
}

.u-margin-right-huge {
  margin-right: 10rem !important;
}

.about {
  display: grid;
  grid-template-rows: 30rem;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 2rem;
  justify-content: center;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .about {
    width: 80%;
  }
}
@media only screen and (max-width: 50em) {
  .about {
    grid-row-gap: 5rem;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
  }
}
.about__picture {
  width: 34rem;
  height: 100%;
  filter: contrast(80%);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media only screen and (max-width: 50em) {
  .about__picture {
    grid-row: 1/2;
    width: 40rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 25em) {
  .about__picture {
    width: 35rem;
  }
}
.about__img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.about__text {
  width: 35rem;
  color: #616161;
  font-size: 1.4rem;
}
@media only screen and (max-width: 50em) {
  .about__text {
    grid-row: 2/-1;
    width: 40rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .about__text {
    width: 35rem;
    font-size: 1.6rem;
  }
}
.about__text p {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 50em) {
  .about__text p {
    margin-bottom: 3rem;
  }
}
.about__vr {
  height: 30rem;
  margin: 0 2rem;
  width: 3px;
  background-color: #445373;
}
@media only screen and (max-width: 50em) {
  .about__vr {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }
}

.about-heading,
.about-hr {
  opacity: 0;
}

.animateFromLeft {
  animation: moveInFarLeft 0.5s ease-out;
  opacity: 1;
}

.animateFromRight {
  animation: moveInFarRight 0.5s ease-out;
  opacity: 1;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.7rem 2.5rem;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--red {
  background-color: rgba(255, 133, 128, 0.9);
  color: #fff;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ff8580;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff8580;
  padding: 3px;
  transition: all 0.2s ease-in;
}
.btn-text:hover {
  background-color: #ff8580;
  color: #E9E4DE;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.contact {
  width: 60%;
  margin: 0 auto;
}
.contact__text {
  font-size: 1.4rem;
  color: #E9E4DE;
}
.contact__list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.contact__item {
  display: inline;
}
.contact__item:not(:last-child) {
  margin-right: 6rem;
}
.contact__link:link, .contact__link:visited {
  color: #E9E4DE;
  text-decoration: none;
  font-size: 2.6rem;
  transition: all 0.1s ease-in;
}
.contact__link:hover {
  color: #ff8580;
  transform: scale(1.3) translateY(-0.1rem);
}

.contact-heading,
.contact-hr {
  opacity: 0;
}
@media only screen and (max-width: 75em) {
  .contact-heading,
.contact-hr {
    opacity: 1;
  }
}

.animateFromLeft {
  animation: moveInFarLeft 0.5s ease-out;
  opacity: 1;
}

.animateFromRight {
  animation: moveInFarRight 0.5s ease-out;
  opacity: 1;
}

.project {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  height: min-content;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 5rem;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .project {
    grid-template-columns: 0.8fr 1.2fr;
    padding-top: 2vh;
    padding: 0 1rem;
    grid-column-gap: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .project {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    padding-top: 2vh;
    padding: 0 1rem;
    grid-column-gap: 2rem;
  }
}
.project:not(:last-child) {
  margin-bottom: 10rem;
}
.project__pictures {
  grid-column: 1/1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(8, minmax(min, min-content, max-content));
  align-items: center;
  padding-top: 5rem;
  z-index: 100;
}
@media only screen and (max-width: 62.5em) {
  .project__pictures {
    padding-top: 0;
  }
}
@media only screen and (max-width: 50em) {
  .project__pictures {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.project__img-portrait--1 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 1/6;
  grid-column: 2/7;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 62.5em) {
  .project__img-portrait--1 {
    visibility: hidden;
  }
}
.project__img-portrait--2 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 2/7;
  grid-column: 3/8;
  z-index: 10;
  transform: translateX(8rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 62.5em) {
  .project__img-portrait--2 {
    transform: translateX(0);
    grid-row: 2/6;
    grid-column: 2/7;
    align-self: center;
  }
}
@media only screen and (max-width: 50em) {
  .project__img-portrait--2 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.project__img-portrait--3 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 3/2;
  grid-column: 1/5;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}
@media only screen and (max-width: 62.5em) {
  .project__img-portrait--3 {
    visibility: hidden;
  }
}
.project__img-portrait--4 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 1/7;
  grid-column: 1/7;
  transform: translateX(8rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 62.5em) {
  .project__img-portrait--4 {
    transform: translateX(0);
    grid-row: 2/6;
    grid-column: 2/7;
    align-self: center;
  }
}
@media only screen and (max-width: 50em) {
  .project__img-portrait--4 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.project__img-landscape--1 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 1/5;
  grid-column: 1/-1;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 62.5em) {
  .project__img-landscape--1 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.project__img-landscape--2 {
  max-width: 100%;
  max-height: 90%;
  margin-top: 5rem;
  grid-row: 2/7;
  grid-column: 1/-1;
  z-index: 10;
  transform: translateX(5rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 62.5em) {
  .project__img-landscape--2 {
    grid-row: 1/7;
    grid-column: 1/4;
    margin-top: 0;
    height: 50%;
  }
}
@media only screen and (max-width: 50em) {
  .project__img-landscape--2 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.project__content {
  grid-column: 2/2;
  padding: 5rem 6vw;
}
@media only screen and (max-width: 25em) {
  .project__content {
    width: 100%;
    padding: 5rem 1rem;
  }
}
.project__text {
  font-size: 1.4rem;
  color: #616161;
}
@media only screen and (max-width: 25em) {
  .project__text {
    font-size: 1.5rem;
  }
}

.work-heading,
.work-hr {
  opacity: 0;
}

.animateFromLeft {
  animation: moveInFarLeft 0.5s ease-out;
  opacity: 1;
}

.animateFromRight {
  animation: moveInFarRight 0.5s ease-out;
  opacity: 1;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 50em) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}

.skill {
  background-color: rgba(233, 228, 222, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 0 2vw;
  transition: transform 0.3s;
  padding-bottom: 5rem;
  height: min-content;
  backface-visibility: hidden;
  opacity: 0;
}
.skill__icon-container {
  display: flex;
  justify-content: center;
}
.skill__icon {
  font-size: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(68, 83, 115, 0.8);
}
.skill__heading {
  font-size: 1.6rem;
  color: #445373;
}
.skill__list {
  color: #616161;
  font-size: 1.4rem;
  text-align: left;
}
.skill__list li {
  padding-bottom: 0.5rem;
  line-height: 1.4;
}
.skill__list li:not(:last-child) {
  padding-bottom: 0.5rem;
}
.skill__pill-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.skill__pill-box {
  background-color: rgba(255, 133, 128, 0.8);
  display: flex;
  margin: 0.2rem;
  color: #fff;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
}
.skill:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.skills-heading,
.skills-hr {
  opacity: 0;
}

.animateFromLeft {
  animation: moveInFarLeft 0.5s ease-out;
  opacity: 1;
}

.animateFromRight {
  animation: moveInFarRight 0.5s ease-out;
  opacity: 1;
}

.flipRound {
  animation: flip 0.8s ease-out;
  opacity: 1;
}
@media only screen and (max-width: 25em) {
  .flipRound {
    animation: 0;
    opacity: 1;
  }
}

.work-experience {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  height: min-content;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 5rem;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.work-experience__description {
  grid-column: 1/3;
  padding: 3rem 5vw;
}
@media only screen and (max-width: 25em) {
  .work-experience__description {
    width: 100%;
    padding: 2rem 1rem;
  }
}
.work-experience__main-picture {
  grid-column: 2/2;
}
@media only screen and (max-width: 62.5em) {
  .work-experience {
    grid-template-columns: 0.8fr 1.2fr;
    padding-top: 2vh;
    padding: 0 1rem;
    grid-column-gap: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .work-experience {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    padding-top: 2vh;
    padding: 0 1rem;
    grid-column-gap: 2rem;
  }
}
.work-experience:not(:last-child) {
  margin-bottom: 10rem;
}
.work-experience__pictures {
  grid-column: 1/1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(8, minmax(min, min-content, max-content));
  align-items: center;
  padding-top: 5rem;
  z-index: 100;
}
@media only screen and (max-width: 62.5em) {
  .work-experience__pictures {
    padding-top: 0;
  }
}
@media only screen and (max-width: 50em) {
  .work-experience__pictures {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.work-experience__img-portrait--1 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 1/6;
  grid-column: 2/7;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 62.5em) {
  .work-experience__img-portrait--1 {
    visibility: hidden;
  }
}
.work-experience__img-portrait--2 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 2/7;
  grid-column: 3/8;
  z-index: 10;
  transform: translateX(8rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 62.5em) {
  .work-experience__img-portrait--2 {
    transform: translateX(0);
    grid-row: 2/6;
    grid-column: 2/7;
    align-self: center;
  }
}
@media only screen and (max-width: 50em) {
  .work-experience__img-portrait--2 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.work-experience__img-portrait--3 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 2/2;
  grid-column: 1/3;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 62.5em) {
  .work-experience__img-portrait--3 {
    visibility: hidden;
  }
}
.work-experience__img-portrait--4 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 5/7;
  grid-column: 1/4;
  z-index: 10;
  transform: translateX(6rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 62.5em) {
  .work-experience__img-portrait--4 {
    transform: translateX(0);
    grid-row: 2/6;
    grid-column: 2/7;
    align-self: center;
  }
}
@media only screen and (max-width: 50em) {
  .work-experience__img-portrait--4 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.work-experience__img-landscape--1 {
  max-width: 100%;
  max-height: 100%;
  grid-row: 1/5;
  grid-column: 1/-1;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 62.5em) {
  .work-experience__img-landscape--1 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.work-experience__img-landscape--2 {
  max-width: 100%;
  max-height: 90%;
  margin-top: 5rem;
  grid-row: 2/7;
  grid-column: 1/-1;
  z-index: 10;
  transform: translateX(5rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 62.5em) {
  .work-experience__img-landscape--2 {
    grid-row: 1/7;
    grid-column: 1/4;
    margin-top: 0;
    height: 50%;
  }
}
@media only screen and (max-width: 50em) {
  .work-experience__img-landscape--2 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.work-experience__content {
  grid-column: 2/2;
  padding: 5rem 6vw;
}
@media only screen and (max-width: 25em) {
  .work-experience__content {
    width: 100%;
    padding: 5rem 1rem;
  }
}
.work-experience__text {
  font-size: 1.4rem;
  color: #616161;
}
@media only screen and (max-width: 25em) {
  .work-experience__text {
    font-size: 1.5rem;
  }
}

.work-experience-heading,
.work-experience-hr {
  opacity: 0;
}

.animateFromLeft {
  animation: moveInFarLeft 0.5s ease-out;
  opacity: 1;
}

.animateFromRight {
  animation: moveInFarRight 0.5s ease-out;
  opacity: 1;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(68, 83, 115, 0.6), rgba(51, 51, 51, 0.9)), url(../img/hero-image.jpg);
  background-size: cover;
  background-position: left;
  z-index: 10;
  filter: contrast(80%);
  display: grid;
  grid-template-rows: 1fr 1fr minmax(1fr, min-content);
  grid-template-columns: 45rem;
  grid-row-gap: 5rem;
  justify-content: end;
  padding: 20rem 15vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 50% 100%, 0 90vh);
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 50% 100%, 0 90vh);
}
@media only screen and (max-width: 50em) {
  .header {
    justify-content: center;
    align-items: center;
    grid-row-gap: 1rem;
    padding: 20rem 0;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr repeat(2, minmax(1fr, min-content));
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 20rem 5rem;
    grid-template-columns: 65vw;
    grid-row-gap: 3rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 100vh;
  }
}
@media only screen and (max-width: 22em) {
  .header {
    padding: 10rem 3rem;
    grid-template-columns: 100%;
    grid-row-gap: 4rem;
  }
}
.header__text {
  color: #E9E4DE;
  backface-visibility: hidden;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  animation: moveInBottom 0.5s ease-out 0.8s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 50em) {
  .header__text {
    margin: 0 auto;
    text-align: center;
  }
}
.header__links {
  animation: moveInBottom 0.5s ease-out 0.8s;
  animation-fill-mode: backwards;
}
.header__links > a:not(:last-child) {
  margin-right: 3vw;
}
@media only screen and (max-width: 50em) {
  .header__links {
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 2rem;
  animation: moveInTop 0.5s ease-out 0.8s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 50em) {
  .navbar {
    margin: 0;
    background-color: #333;
    height: 6rem;
    flex-direction: column;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    position: fixed;
    animation: 0;
  }
}
.navbar__hamburger {
  font-size: 4rem;
  display: none;
  margin-left: 2rem;
  color: #E9E4DE;
}
@media only screen and (max-width: 50em) {
  .navbar__hamburger {
    display: block;
    cursor: pointer;
    width: 3rem;
  }
}
.navbar__toggle {
  display: none;
}
.navbar__list {
  list-style: none;
  color: #E9E4DE;
  font-size: 1.8rem;
}
@media only screen and (max-width: 50em) {
  .navbar__list {
    display: none;
    width: 100%;
    height: 60rem;
    padding: 2rem 0;
    transform: translateY(-0.8rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #333333;
  }
}
.navbar__item {
  display: inline;
  position: relative;
}
.navbar__item:not(:last-child) {
  margin-right: 6rem;
}
.navbar__item::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 23%;
  height: 1px;
  width: 52%;
  background-color: #ff8580;
  transform: scaleX(0);
  transition: transform 0.2s, height 0.4s 0.2s;
}
.navbar__item:hover::before {
  transform: scaleX(1);
}
.navbar__link:link, .navbar__link:visited {
  color: #E9E4DE;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
}
@media only screen and (max-width: 50em) {
  .navbar__link:link, .navbar__link:visited {
    display: block;
    margin: 0;
    margin-bottom: 1rem;
    color: #eee;
    font-weight: 700;
    padding: 0 3rem;
  }
  .navbar__link:link:hover, .navbar__link:visited:hover {
    color: #ff8580;
  }
}

#toggle:checked + .navbar__list {
  display: block;
}

#toggle:checked + .navbar {
  height: 50rem;
}

.fixed {
  position: fixed;
  background-color: #333;
  width: 100%;
  padding: 2rem;
  z-index: 1000;
  margin: 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-out;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 50em) {
  .fixed {
    padding: 0;
    display: none;
  }
}

@media only screen and (max-width: 50em) {
  #navbar-phone-fixed {
    display: flex;
    height: 6rem;
    animation: fadeIn 0.3s ease-out 0.3s;
    animation-fill-mode: backwards;
  }
}

@media only screen and (max-width: 50em) {
  #navbar-phone-hidden {
    display: none;
  }
}

.navbar-list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0rem 3rem;
}

.section-about {
  background-color: #eee;
  margin-top: -12rem;
  padding: 15rem 0;
  padding-bottom: 20rem;
}
@media only screen and (max-width: 25em) {
  .section-about {
    padding-bottom: 10rem;
    margin-top: -5rem;
  }
}

.section-skills {
  padding: 10rem 0;
  z-index: 10;
  margin-top: -5rem;
  background-image: linear-gradient(to right bottom, rgba(68, 83, 115, 0.5), rgba(51, 51, 51, 0.9)), url(../img/laptop-desk-medium.jpeg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 50% 5vh, 100% 0, 100% 95%, 50vw 100%, 0 95%);
  clip-path: polygon(0 0, 50% 5vh, 100% 0, 100% 95%, 50vw 100%, 0 95%);
}
@media only screen and (max-width: 50em) {
  .section-skills {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media only screen and (max-width: 25em) {
  .section-skills {
    margin-top: 0;
    padding: 5rem 0;
    background-image: linear-gradient(to right bottom, #445373, #333333);
  }
}

.section-work {
  background-color: #eee;
  margin-top: -5rem;
  padding: 10rem 0;
  padding-bottom: 20rem;
}
@media only screen and (max-width: 37.5em) {
  .section-work {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media only screen and (max-width: 25em) {
  .section-work {
    margin-top: 0;
  }
}

.section-contact {
  background-image: linear-gradient(to right bottom, rgba(68, 83, 115, 0.8), rgba(51, 51, 51, 0.9)), url(../img/mac-keyboard.jpg);
  margin-top: -8rem;
  background-size: cover;
  background-position: center;
  z-index: 10;
  padding: 10rem 0;
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%);
}
@media only screen and (max-width: 37.5em) {
  .section-contact {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/*# sourceMappingURL=style.css.map */
