// COLOUR VARIABLES
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f9f7f6;
$color-grey-light-4: #aaa;
$color-grey-light-5: #616161;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #54483A;
$color-grey-dark-5: #6D5D4B;

// $color-primary-light: #2998ff;
// $color-primary-dark: #5643fa;

$color-primary-light: #F25757;
$color-primary-dark: #a51a1a;
$color-primary-dark-2: #445373;
$color-primary-dark-3: #d24d57;




$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

// rgb(233, 228, 222);
$color-primary-new: #ff8580;
$color-primary-light-new: #E9E4DE;