// COLOURS
$color-primary: #445373;
$color-secondary: #ff8580;
$color-tertiary: #E9E4DE;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f9f7f6;
$color-grey-light-4: #aaa;
$color-grey-light-5: #616161;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #54483A;
$color-grey-dark-5: #6D5D4B;

$color-white: #fff;
$color-black: #000;



// FONT
$default-font-size: 1.6rem;


