@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/about";
@import "components/button";
@import "components/contact";
@import "components/project";
@import "components/skill";


@import "layout/header";
@import "layout/navbar";


@import "pages/home";

