.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark-2, 0.7),
        rgba($color-grey-dark-3, 0.9)),
        url(../img/rawpixel-678088-unsplash-copy.jpg);
    background-size: cover;
    background-position: left;
    z-index: 10;
    filter: contrast(80%); 
    
    display: grid;
    grid-template-rows: 1fr 1fr minmax(1fr, min-content);
    grid-template-columns: 45rem;
    grid-row-gap: 5rem;
    justify-content: end;
    padding: 20rem 15vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 50vw 100%, 0 100vh);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 50vw 100%, 0 90vh);

    @media only screen and (max-width: $bp-large) {
        justify-content: center;
        align-items: center;
        grid-row-gap: 1rem;
        // justify-items: center;
        padding: 20rem 0;
        grid-template-rows: 15rem 15rem 10rem;
        text-align: center;
        margin: 0 auto;

    }

    &__text {
        color: $color-primary-light-new;
        backface-visibility: hidden;
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        animation: moveInBottom .5s ease-out .8s;
        animation-fill-mode: backwards;

        @media only screen and (max-width: $bp-large) {
            
            margin: 0 auto;
            text-align: center;
        }
    }

    &__links {
        // margin-top: 5rem;
        /* Animation name, animation duration, animation-timing-function, animation delay */
        animation: moveInBottom .5s ease-out .8s;
        /* Automatically apply the styles of the 0% before the animation starts */
        animation-fill-mode: backwards;
      
        // margin-right: 4rem;

        & > a:not(:last-child) {
            margin-right: 3vw;
        }
        
        @media only screen and (max-width: $bp-large) {
           margin: 0 auto;
            
    
        }

    }
}
