.navbar {
    display: flex;
    position: absolute;
    height: 7rem;
    z-index: 100;
    width: 100%;
    margin: 2rem;
    animation: moveInTop .5s ease-out .8s;
    animation-fill-mode: backwards;

    @media only screen and (max-width: $bp-medium) {
        // justify-content: end;
        margin: 0;
        background-color: $color-grey-dark-3;
        height: 5rem;
        flex-direction: column;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        position: fixed;
        animation: 0;
    }

    &__hamburger {
        font-size: 3rem;
        display: none;
        margin-left: 2rem;
        color: $color-tertiary;
        

        @media only screen and (max-width: $bp-medium) {
            display: block;
            cursor: pointer;
            width: 3rem;
            // position: absolute;
        }
    }

    &__toggle {
        display: none;
    }
    
    &__list {
        list-style: none;
        color: $color-tertiary;
        font-size: 1.8rem;

        @media only screen and (max-width: $bp-medium) {
           display: none;
        //    justify-content: center;
           width: 100%;
           height: 60rem;
           box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        //    display: block;
        //    text-align: center;
        //    margin-bottom: 2rem;
           background-color: rgba($color-grey-dark-3, 1);
        //    margin-bottom: 10rem;
           
        }
    }

    &__item {
        display: inline;
        position: relative;
        

        &:not(:last-child) {
            margin-right: .5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            border-bottom: 1px solid white;
            
         }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 120%;
        left: 23%;
        height: 1px;
        width: 52%;
        background-color: $color-secondary;
        transform: scaleX(0);
        transition: transform .2s,
                    height .4s .2s; 
                  
    }

    &__item:hover::before {
        transform: scaleX(1);
    }

    &__link:link,
    &__link:visited {
        color: $color-tertiary;
        text-decoration: none;
        text-transform: uppercase;
        display: inline;
        padding: 1.5rem 3rem;
        // border-bottom: 1px solid $color-primary-new;
        margin: 1rem;

        @media only screen and (max-width: $bp-medium) {
            display: block;
            // border-left: 2px solid $color-primary-new;
            // background-color: $color-grey-dark-3;
            margin: 0;
            // margin-left: 2rem;
            margin-bottom: 1rem;
            color: $color-grey-light-2;
            font-weight: 700;
            // border-bottom: 1px solid $color-primary-new;

            &:hover {
                color: $color-secondary;
            }
        }    
    }    


}

#toggle:checked + .navbar__list {
    display: block;
    
}    // height: 50rem;

#toggle:checked + .navbar {
    height: 50rem;
}


// .navbar-fixed {
//     background-color: $color-grey-dark-3;
//     display: flex;
//     // position: fixed;
//     opacity: 0;
//     top: 0;
//     left: -100%;
//     height: 5rem;
//     width: 100%;
//     z-index: 1000;
//     padding: 1rem 0;
//     // margin-bottom: 2rem;
//     animation: moveInTop .5s ease-out .8s;
//     animation-fill-mode: backwards;

//     &__list {
//         list-style: none;
//         color: $color-primary-light-new;
//         font-size: 1.8rem;
//     }

//     &__item {
//         display: inline;
//         position: relative;

//         &:not(:last-child) {
//             margin-right: .5rem;
//         }
//     }

//     &__item::before {
//         content: "";
//         position: absolute;
//         top: 120%;
//         left: 23%;
//         height: 1px;
//         width: 52%;
//         background-color: $color-primary-new;
//         transform: scaleX(0);
//         transition: transform .2s,
//                     height .4s .2s; 
//     }

//     &__item:hover::before {
//         transform: scaleX(1);
//     }

//     &__link:link,
//     &__link:visited {
//         color: $color-primary-light-new;
//         text-decoration: none;
//         text-transform: uppercase;
//         display: inline;
//         padding: 1.5rem 3rem;
//         // border-bottom: 1px solid $color-primary-new;
//         margin: 1rem;
//     }
// }

.active {
    position: fixed;
    background-color: $color-grey-dark-3;
    width: 100%;
    height: 5rem;
    z-index: 1000;
    padding: 1rem 0;
    margin: 0;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    // transition: 
    // opacity: 0;
    // left: 0;
    animation: fadeIn .2s ease-out;
    animation-fill-mode: backwards;

    @media only screen and (max-width: $bp-medium) {
        padding: 0;
        display: hidden;
    }
} 

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}