.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.7rem 2.5rem;
        display: inline-block;
        border-radius: 3px;
        transition: all .2s;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;  
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }


    &--blue {
        background-color: rgba(255,133,128, 0.9);
        color: white;
    }    
    
}