.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.7rem 2.5rem;
        display: inline-block;
        border-radius: 3px;
        transition: all .2s;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;  
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }


    &--red {
        background-color: rgba($color-secondary, 0.9);
        color: $color-white;
    }    
    
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-secondary;
        // Set to inline-block so that margin, padding etc can be applied. <a> tags by default can only have horizontal padding and margin applied 
        display: inline-block;
        text-decoration: none;   
        border-bottom: 1px solid $color-secondary;
        // Can use pixels if amounts are very small
        padding: 3px;
        transition: all .2s ease-in;
    }

    &:hover {
        background-color: $color-secondary;
        color: $color-tertiary;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        // transform: translateY(-1px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}