.contact {

    width: 60%;
    margin: 0 auto;

    &__text {
        font-size: 1.4rem;
        color: $color-tertiary;
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    &__item {
        display: inline;
        
        &:not(:last-child) {
            margin-right: 5rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-tertiary;
        text-decoration: none;
        font-size: 2.6rem;
        transition: all .1s ease-in;
    }

    &__link:hover {
        color: $color-secondary;
        transform: scale(1.3) translateY(-.1rem);
    }
}

.contact-heading,
.contact-hr {
    opacity: 0;

    @media only screen and (max-width: $bp-largest) {
        opacity: 1;
    }
}

.animateFromLeft {
    animation: moveInFarLeft 0.5s ease-out;
    opacity: 1;
}

.animateFromRight {
    animation: moveInFarRight 0.5s ease-out;
    opacity: 1;
}