.header-content {
    margin: 15rem 15rem;
    grid-area: content;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-row-gap: 5rem;
    // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    padding: 6rem;
    // background-color: rgba(233, 228, 222, 0.4);
    border-radius: 3px;
    transition: all .5s ease;
 

    &__links {

        margin-top: 5rem;
        /* Animation name, animation duration, animation-timing-function, animation delay */
        animation: moveInBottom .5s ease-out .8s;
        /* Automatically apply the styles of the 0% before the animation starts */
        animation-fill-mode: backwards;

        & a:not(:last-child) {
            margin-right: 5rem;
        }
    }
    

    
   
}