// @import "../scss/fontawesome.scss";
// @import "../scss/solid.scss";
// @import "../scss/brands.scss";

.skills {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
    width: 80%;
    margin: 0 auto;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content); 
    }
}

.skill {

    background-color: rgba($color-tertiary, 0.8);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border-radius: 2px;
    padding: 0 2vw;
    transition: transform .3s;
    padding-bottom: 5rem;
    height: min-content;
    backface-visibility: hidden;
    opacity: 0;

    &__icon-container {
        display: flex;
        justify-content: center;
    }
    
    &__icon {
        font-size: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: rgba($color-primary, 0.8);
        // @extend %fa-icon;
        // @extend .fas;

        // &:before {
        //     content: fa-content($fa-var-user);
        // }
    }

    &__heading {
        font-size: 1.6rem;
        color: $color-primary;
    }

    &__list {
        // list-style: none;
        color: $color-grey-light-5;
        font-size: 1.4rem;
        text-align: left;


        & li {
            padding-bottom: 0.5rem;
            line-height: 1.4;
        } 

        & li:not(:last-child) {
            padding-bottom: 0.5rem;
        }  
    }

    &__pill-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__pill-box {
        background-color: rgba($color-secondary, 0.8);
        display: flex;
        margin: .2rem;
        color: $color-white;
        padding: .2rem 1rem .2rem 1rem;
        font-size: 1rem;
        border-radius: .2rem;
        box-shadow: 0 .2rem .6rem rgba($color-black, 0.1);
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    } 
}

.skills-heading,
.skills-hr {
    opacity: 0;
}


.animateFromLeft {
    animation: moveInFarLeft 0.5s ease-out;
    opacity: 1;
}

.animateFromRight {
    animation: moveInFarRight 0.5s ease-out;
    opacity: 1;
}

.flipRound {
    animation: flip 0.8s ease-out;
    opacity: 1;

    // Disable animation for phones
    @media only screen and (max-width: $bp-smaller) {
        animation: 0;
        opacity: 1;
    }
}