.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-huge { margin-bottom: 10rem !important; }

.u-margin-top-small { margin-top: 1.5rem !important; }
.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-large { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-left-small { margin-left: 1.5rem !important; }
.u-margin-left-medium { margin-left: 4rem !important; }
.u-margin-left-large { margin-left: 8rem !important; }
.u-margin-left-huge { margin-left: 10rem !important; }

.u-margin-right-small { margin-right: 1.5rem !important; }
.u-margin-right-medium { margin-right: 4rem !important; }
.u-margin-right-large { margin-right: 8rem !important; }
.u-margin-right-huge { margin-right: 10rem !important; }