.section-about {

    background-color: $color-grey-light-2;
    margin-top: -12rem;
    padding: 15rem 0;
    padding-bottom: 20rem;

    @media only screen and (max-width: $bp-smaller) {
        padding-bottom: 10rem;
        margin-top: -5rem;
    }
}

.section-skills {

    padding: 10rem 0;
    z-index: 10;
    margin-top: -5rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.5),
        rgba($color-grey-dark-3, 0.9)),
        url(../img/laptop-desk-medium.jpeg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 50% 5vh, 100% 0, 100% 95%, 50vw 100%, 0 95%);
    clip-path: polygon(0 0, 50% 5vh, 100% 0, 100% 95%, 50vw 100%, 0 95%);

    @media only screen and (max-width: $bp-medium) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @media only screen and (max-width: $bp-smaller) {
        margin-top: 0;
        padding: 5rem 0;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 1),
        rgba($color-grey-dark-3, 1));
    }
}

.section-work {

    background-color: $color-grey-light-2;
    margin-top: -5rem;
    padding: 10rem 0;
    padding-bottom: 20rem;

    @media only screen and (max-width: $bp-small) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @media only screen and (max-width: $bp-smaller) {
        margin-top: 0;
    }
}

.section-contact {
    
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8),
        rgba($color-grey-dark-3, 0.9)),
        url(../img/mac-keyboard.jpg);
    margin-top: -8rem;
    background-size: cover;
    background-position: center;
    z-index: 10;
    padding: 10rem 0;
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%);

    @media only screen and (max-width: $bp-small) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}