.container {
    // display: grid;
    // grid-template-rows: 5rem 85vh repeat(4, min-content min-content min-content min-content min-content);
    // grid-template-columns: [sidebar-start] 20rem [sidebar-end full-start] .5fr [center-start] 
    //                        repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] .5fr [full-end];
    // grid-template-columns: [full-start] 1fr repeat(8, [col-start] minmax(14rem) [col-end]) 1fr [full-end];

    display: flex;
    flex-direction: column;
}

.section-about {
    background-color: white;
    height: 100vh;
    transform: translateY(-5rem);
    padding: 15rem 0;
   
}


.section-work {
    background-color: $color-grey-dark-3;
   
}

.section-contact {
    background-color: $color-grey-dark-4;
}



